<div class="row">
    <div class="col">
        <div class="input-group">
            <input #search (keydown.enter)="$event.preventDefault()" placeholder="Search by address"
                class="form-control" type="text" [(ngModel)]="query" />
            <div class="input-group-append">
                <button class="btn btn-primary" (click)=findParks()>Find Parks</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-8 pr-md-2">
        <div id="agm_map" class="m-t-lg fc fc-center-x">
            <button [ngClass]="{'display-none': !refresh}" class="btn btn-block btn-secondary m-t-md" id="refresh_btn"
                #refreshBtn (click)="findParks()">Search This Area</button>
            <agm-map (idle)=needRefresh() (mapReady)="mapReady($event)" [zoom]="zoom" [latitude]="latitude"
                [longitude]="longitude">
                <agm-marker *ngFor="let park of parks" [latitude]="park.geometry.location.lat()"
                    [longitude]="park.geometry.location.lng()">
                    <agm-info-window [isOpen]="isOpen(park.id)">{{park.name}}</agm-info-window>
                </agm-marker>
            </agm-map>
        </div>
    </div>
    <div class="col-12 col-sm-4 pl-md-2">
        <div class="list-group m-y-lg">
            <div *ngIf="parks.length === 0 && !searching && !isFirstLoad" href="#" class="list-group-item">
                <span class="park-heading">No Results</span>
            </div>
            <div class="fc fc-center-x m-t-lg" *ngIf="searching">
                <fa style="color:#999" name="spinner" animation="spin" size="2x"></fa>
            </div>
            <div [ngClass]="{'display-none' : parks.length===0}" id="park-list-wrapper" #parkList>
                <div id="park-list">
                    <div park *ngFor="let park of parks" (click)="setZoom(park)" href="#"
                        class="list-group-item list-group-item-action" [park]="park"></div>
                    <button [ngClass]="{'display-none': !getNextPage}" class="btn btn-block btn-secondary m-t-md"
                        #moreBtn (click)="moreParks()">More</button>
                </div>
            </div>
        </div>
    </div>
</div>