.width-100 {
    width: 100% !important;
}

.text-strong {
    font-weight: bold;
}

.pointer-events-none {
    pointer-events: none;
}

.fc {
    display: flex !important;
}

.fc-center {
    justify-content: center !important;
    align-items: center !important;
}

.fc-center-x {
    justify-content: center !important;
}

.fc-center-y {
    align-items: center !important;
}

.fc-space-between {
    justify-content: space-between !important;
}

.fc-flex-start {
    justify-content: flex-start !important;
}

.fc-flex-end {
    justify-content: flex-end !important;
}

.flex-0 {
    flex: 0 !important;
}

.flex-1 {
    flex: 1 !important;
}

.flex-2 {
    flex: 2 !important;
}

.flex-3 {
    flex: 3 !important;
}

.flex-4 {
    flex: 4 !important;
}

.flex-5 {
    flex: 5 !important;
}

.flex-direction-reverse {
    flex-direction: row-reverse;
}

.no-radius {
    border-radius: 0px !important;
}

.no-radius-direct-children>* {
    border-radius: 0px !important;
}

.no-radius-all-children * {
    border-radius: 0px !important;
}

.circle {
    border-radius: 50% !important;
    width: 1em !important;
    height: 1em !important;
}

.height-auto {
    height: auto !important;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-hidden {
    overflow-y: hidden;
}

.overflow-auto {
    overflow: auto
}

.ellipsis {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.btn-1x {
    width: 40px !important;
    margin: auto !important;
}

.btn-2x {
    width: 80px !important;
    margin: auto !important;
}

.display-inline {
    display: inline !important;
}

.display-inline-block {
    display: inline-block !important;
}

.display-block {
    display: block !important;
}

.display-none {
    display: none !important;
}

.display-inline-flex {
    display: inline-flex !important;
}

.m-a-auto {
    margin: auto !important;
}

.m-y-auto {
    margin: auto 0 !important;
}

.m-x-auto {
    margin: 0 auto !important;
}

.m-a-0 {
    margin: 0 !important;
}

.m-t-0 {
    margin-top: 0 !important;
}

.m-r-0 {
    margin-right: 0 !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-l-0 {
    margin-left: 0 !important;
}

.m-x-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.m-y-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.p-a-0 {
    padding: 0 !important;
}

.p-t-0 {
    padding-top: 0 !important;
}

.p-r-0 {
    padding-right: 0 !important;
}

.p-b-0 {
    padding-bottom: 0 !important;
}

.p-l-0 {
    padding-left: 0 !important;
}

.p-x-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.p-y-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.m-a-1 {
    margin: 1px !important;
}

.m-t-1 {
    margin-top: 1px !important;
}

.m-r-1 {
    margin-right: 1px !important;
}

.m-b-1 {
    margin-bottom: 1px !important;
}

.m-l-1 {
    margin-left: 1px !important;
}

.m-x-1 {
    margin-left: 1px !important;
    margin-right: 1px !important;
}

.m-y-1 {
    margin-top: 1px !important;
    margin-bottom: 1px !important;
}

.p-a-1 {
    padding: 1px !important;
}

.p-t-1 {
    padding-top: 1px !important;
}

.p-r-1 {
    padding-right: 1px !important;
}

.p-b-1 {
    padding-bottom: 1px !important;
}

.p-l-1 {
    padding-left: 1px !important;
}

.p-x-1 {
    padding-left: 1px !important;
    padding-right: 1px !important;
}

.p-y-1 {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

.m-a-2 {
    margin: 2px !important;
}

.m-t-2 {
    margin-top: 2px !important;
}

.m-r-2 {
    margin-right: 2px !important;
}

.m-b-2 {
    margin-bottom: 2px !important;
}

.m-l-2 {
    margin-left: 2px !important;
}

.m-x-2 {
    margin-left: 2px !important;
    margin-right: 2px !important;
}

.m-y-2 {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

.p-a-2 {
    padding: 2px !important;
}

.p-t-2 {
    padding-top: 2px !important;
}

.p-r-2 {
    padding-right: 2px !important;
}

.p-b-2 {
    padding-bottom: 2px !important;
}

.p-l-2 {
    padding-left: 2px !important;
}

.p-x-2 {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.p-y-2 {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.m-a-sm {
    margin: 5px !important;
}

.m-t-sm {
    margin-top: 5px !important;
}

.m-r-sm {
    margin-right: 5px !important;
}

.m-b-sm {
    margin-bottom: 5px !important;
}

.m-l-sm {
    margin-left: 5px !important;
}

.m-x-sm {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.m-y-sm {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.p-a-sm {
    padding: 5px !important;
}

.p-t-sm {
    padding-top: 5px !important;
}

.p-r-sm {
    padding-right: 5px !important;
}

.p-b-sm {
    padding-bottom: 5px !important;
}

.p-l-sm {
    padding-left: 5px !important;
}

.p-x-sm {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.p-y-sm {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.m-a-md {
    margin: 10px !important;
}

.m-t-md {
    margin-top: 10px !important;
}

.m-r-md {
    margin-right: 10px !important;
}

.m-b-md {
    margin-bottom: 10px !important;
}

.m-l-md {
    margin-left: 10px !important;
}

.m-x-md {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.m-y-md {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.p-a-md {
    padding: 10px !important;
}

.p-t-md {
    padding-top: 10px !important;
}

.p-r-md {
    padding-right: 10px !important;
}

.p-b-md {
    padding-bottom: 10px !important;
}

.p-l-md {
    padding-left: 10px !important;
}

.p-x-md {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.p-y-md {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.m-a-lg {
    margin: 15px !important;
}

.m-t-lg {
    margin-top: 15px !important;
}

.m-r-lg {
    margin-right: 15px !important;
}

.m-b-lg {
    margin-bottom: 15px !important;
}

.m-l-lg {
    margin-left: 15px !important;
}

.m-x-lg {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.m-y-lg {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.p-a-lg {
    padding: 15px !important;
}

.p-t-lg {
    padding-top: 15px !important;
}

.p-r-lg {
    padding-right: 15px !important;
}

.p-b-lg {
    padding-bottom: 15px !important;
}

.p-l-lg {
    padding-left: 15px !important;
}

.p-x-lg {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.p-y-lg {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.m-a-xl {
    margin: 20px !important;
}

.m-t-xl {
    margin-top: 20px !important;
}

.m-r-xl {
    margin-right: 20px !important;
}

.m-b-xl {
    margin-bottom: 20px !important;
}

.m-l-xl {
    margin-left: 20px !important;
}

.m-x-xl {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.m-y-xl {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.p-a-xl {
    padding: 20px !important;
}

.p-t-xl {
    padding-top: 20px !important;
}

.p-r-xl {
    padding-right: 20px !important;
}

.p-b-xl {
    padding-bottom: 20px !important;
}

.p-l-xl {
    padding-left: 20px !important;
}

.p-x-xl {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.p-y-xl {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.fix-to-top {
    position: fixed !important;
    top: 0 !important;
}

.bg-111 {
    background-color: #111 !important;
}

.bg-222 {
    background-color: #222 !important;
}

.bg-333 {
    background-color: #444 !important;
}

.bg-555 {
    background-color: #555 !important;
}

.bg-666 {
    background-color: #666 !important;
}

.bg-777 {
    background-color: #777 !important;
}

.bg-888 {
    background-color: #888 !important;
}

.bg-999 {
    background-color: #999 !important;
}

.bg-aaa {
    background-color: #aaa !important;
}

.bg-bbb {
    background-color: #bbb !important;
}

.bg-ccc {
    background-color: #ccc !important;
}

.bg-ddd {
    background-color: #ddd !important;
}

.bg-eee {
    background-color: #eee !important;
}

.bg-fff {
    background-color: #fff !important;
}

.font-weight-100 {
    font-weight: 100;
}

.font-weight-200 {
    font-weight: 200;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-800 {
    font-weight: 800;
}

.font-weight-900 {
    font-weight: 900;
}