<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 id="page-title" class="m-y-md">
    Park Finder
  </h1>
</div>
<div class="container">
  <map></map>
</div>
<router-outlet></router-outlet>