/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/dist/css/bootstrap.css';
@import './styles/utility.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html, body {
    height: 100%;
    background-color: #f9f9f9 !important;
}

@media (max-width:576px) {
    agm-map {
        height: 300px;
        width: 100%;
    }
    #park-list-wrapper {
        max-height: 370px;
    }
}

@media (min-width:577px) {
    agm-map {
        height: 500px;
        width: 100%;
    }
    #park-list {
        max-height: 500px;
    }
}

#page-title{
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: 200;
}

.agm-map-container-inner, #park-list {
    border-radius: .25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

#park-list {
    border-radius: .25rem;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.125);
}

#park-list-wrapper{
    overflow: scroll;
}

#refresh_btn {
    position: absolute;
    z-index: 999;
    width: auto;
}

#park-list>div:first-child {
    border-top: 0px;
}

#park-list>div:first-child {
    border-bottom: 0px;
}

.park-heading {
    font-size: 14px;
    font-weight: 500;
}

.park-body {
    font-size: 12px;
}